{% extends 'myapp/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <br>
        <div class="card">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
                alt="Fissure in Sandstone" />
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.content }}</p>
                <a href="{% url 'myapp:post_update' object.id %}" class="btn btn-light btn-md">更新</a>
            </div>
        </div>
        <br>
    </div>
</div>

{% endblock %}